name: rb_set

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: 1.18
        otp-version: 27

    - name: Install dependencies
      run: |
        mix deps.get
      
    - name: Check format
      run: |
        mix format --check-formatted

    - name: Lint
      run: |
        mix credo --strict

    - name: Test
      run: |
        mix test
